.carousel_container {
  margin-top: -4%;
  position: relative;
}

.d-block {
  border-radius: 25px;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

.carousel_text {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0.1%;
  color: white;
  pointer-events: none;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  color: lightgray;
  backdrop-filter: blur(2px)
}

.carousel_text h1 {
  font-size: 40px;
  color: black;
  background-color: white;
  display: inline;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 20px;
  opacity: 0.8;
}

.carousel_text p {
  color: white;
  background-color: black;
  display: inline;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 20px;
  opacity: 0.8;
}

.carousel_text button {
  pointer-events: all;
}

.carousel_text_mobile {
  display: none;
  color: black;
}

.home_text_red {
  color: red;
  font-weight: 600;
}

@media (max-width: 768px) {
  .carousel_text {
   display: none;
  }
  .carousel_text_mobile {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;  
    margin-top: 5%;
    margin-bottom: 5%;
}

 .carousel_text_mobile p {
   display: none;
 }
}