.footer_container {
    width: 100vw;
    min-height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10.7%;
    padding-right: 10.7%;
    margin-top: 5vh;
}

.footer_section_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_nav_links {
    display: flex;
   
}

.footer_nav_links a {
   text-decoration: none;
}

.footer_nav_links h4 {
   color: white;
   transition:  ease-in 0.2s;
}

.footer_nav_links h4:hover {
   color: red;
}

.footer_link_separator {
    padding: 0 0.3rem;
}

.footer_company_name {
    color: grey;
}

.footer_section_social_media {
    display: flex;
    align-items: center;
}

@media(max-width: 768px) {
    .footer_container {
        flex-direction: column;
        align-items: center;
    }
}