.nav_container {
    min-height: 6vh;
    width: 90vw;
    margin-left: 4.7%;
    background-color: black;
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
    position: fixed;
    z-index: 4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid white;
    border-radius: 20px;
}

.nav_section  {
   display: flex;
   text-decoration: none;
   align-items: center;
   gap: 5%;
}

.nav_section a {
    text-decoration: none;
    color: white;
    transition: ease-in 0.2s;
}

.nav_section a:hover {
    color: red;
}

.nav_section img {
   height: 100px;
}

.nav_item {
    margin-right: 5%;
}


@media(max-width: 768px) {
    
    .nav_section {
        margin: auto;
        padding-top: 3%;
     }

    .nav_center_section {
        order: -1;
        width: 100%;
        justify-content: center;
    }

}

