#product_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1%;
}

#product_column img {
    max-height: 200px;
    max-width: 200px;
}

.product_price_and_wishlist {
    display: flex;
    gap: 1%;
}
